version: '2.1'
services:
  qwc-postgis:
    image: sourcepole/qwc-demo-db
    # build:
    #   context: ./postgis
    #   args:
    #     - ALEMBIC_VERSION=e9c31b610e0a
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
    ports:
     - "127.0.0.1:5439:5432"

  qwc-qgis-server:
    image: sourcepole/qwc-qgis-server
    ports:
     - "127.0.0.1:8001:80"
    volumes:
      - ./volumes/qgs-resources:/data:ro
      - ./volumes/geodata:/geodata:ro

  qwc-config-service:
    build:
      context: ./wsgi-service
      args:
        - SERVICE=qwc-config-service
    environment:
      - QGIS_SERVER_URL=http://qwc-qgis-server/ows/
      - QGIS_RESOURCES_PATH=/data/
      - QWC2_PATH=/qwc2/
      - QWC2_THEMES_CONFIG=/qwc2/themesConfig.json
      #- DEFAULT_ALLOW=True
    ports:
      - "127.0.0.1:5010:9090"
    volumes:
      - ./volumes/qgs-resources:/data:ro
      - ./volumes/qwc2:/qwc2
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-ogc-service:
    image: sourcepole/qwc-ogc-service
    environment:
      - SERVICE_MOUNTPOINT=/ows
      - CONFIG_PATH=/etc/qwc_service
      #- FLASK_ENV=development
    volumes:
      - ./demo-config:/etc/qwc_service:ro
    ports:
      - "127.0.0.1:5013:9090"
    depends_on:
      - qwc-qgis-server

  qwc-data-service:
    image: sourcepole/qwc-data-service
    environment:
      - SERVICE_MOUNTPOINT=/api/v1/data
      - CONFIG_PATH=/etc/qwc_service
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/etc/qwc_service:ro
    ports:
      - "127.0.0.1:5012:9090"
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-solr:
    image: solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - gdi
      - /gdi_conf
    ports:
     - "127.0.0.1:8983:8983"
    volumes:
      - ./volumes/solr/configsets/gdi:/gdi_conf:ro
      - ./volumes/solr/data:/var/solr/data
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-fulltext-search-service:
    image: sourcepole/qwc-fulltext-search-service
    environment:
      - SERVICE_MOUNTPOINT=/api/v2/search
      - CONFIG_PATH=/etc/qwc_service
    ports:
      - "127.0.0.1:5011:9090"
    volumes:
        - ./demo-config:/etc/qwc_service:ro
    depends_on:
      - qwc-solr

  qwc-map-viewer:
    image: sourcepole/qwc-map-viewer-demo:v1.1.0
    # image: sourcepole/qwc-map-viewer-base
    environment:
      - CONFIG_SERVICE_URL=http://qwc-config-service:9090/
      - QWC2_PATH=/qwc2/
      - QWC2_CONFIG=/qwc2/config.json
      - OGC_SERVICE_URL=/ows/
      - DATA_SERVICE_URL=/api/v1/data/
      - ELEVATION_SERVICE_URL=/elevation/
      #- AUTH_SERVICE_URL=/auth/
      #- 'AUTH_SERVICES_CONFIG={"_intern_": "/auth/"}'
      # NOTE: escape literal '$' with '$$' to avoid variable substitution from docker-compose
      #- 'ORIGIN_CONFIG={"host": {"_intern_": "^127.0.0.1(:\\d+)?$$"}}'
      #- CONFIG_CHECK_INTERVAL=60
      #- DEFAULT_CONFIG_CACHE_DURATION=86400
      #- SEARCH_SERVICE_URL=
    ports:
      - "127.0.0.1:5030:9090"
    # volumes:
    #   - ./volumes/qwc2:/qwc2:ro
    depends_on:
      - qwc-config-service
      - qwc-ogc-service
      - qwc-data-service

  qwc-admin-gui:
    image: sourcepole/qwc-admin-gui
    environment:
      - 'USER_INFO_FIELDS=[{"title": "Surname", "name": "surname", "type": "text", "required": true}, {"title": "First name", "name": "first_name", "type": "text", "required": true}, {"title": "Street", "name": "street", "type": "text"}, {"title": "ZIP", "name": "zip", "type": "text"}, {"title": "City", "name": "city", "type": "text"}
]'
      #- TOTP_ENABLED=False
      - GROUP_REGISTRATION_ENABLED=True
      - DEFAULT_LOCALE=en
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    ports:
      - "127.0.0.1:5031:9090"
    volumes:
        - ./pg_service.conf:/var/www/.pg_service.conf:ro
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-registration-gui:
    build:
      context: ./wsgi-service
      args:
        - SERVICE=qwc-registration-gui
        - SERVICE_MOUNTPOINT=/registration
    environment:
      - DEFAULT_LOCALE=en
      - ADMIN_RECIPIENTS=admin@example.com
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    ports:
      - "127.0.0.1:5032:9090"
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-auth-service:
    build:
      context: ./wsgi-service
      args:
        - SERVICE=qwc-db-auth
        - SERVICE_MOUNTPOINT=/auth
    environment:
      #- TOTP_ENABLED=False
      #- TOTP_ISSUER_NAME=QWC Services
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    ports:
      - "127.0.0.1:5017:9090"
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-elevation-service:
    image: sourcepole/qwc-elevation-service
    environment:
      - CONFIG_PATH=/etc/qwc_service
    volumes:
      - ./demo-config:/etc/qwc_service:ro
    ports:
      - "127.0.0.1:5002:9090"

  qwc-permalink-service:
    image: sourcepole/qwc-permalink-service
    environment:
      - CONFIGDB_URL=postgresql:///?service=qwc_configdb
      - PERMALINKS_TABLE=qwc_config.permalinks
      - USER_PERMALINK_TABLE=qwc_config.user_permalinks
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
    depends_on:
      qwc-postgis:
        condition: service_healthy
    ports:
      - "127.0.0.1:5018:9090"

  qwc-feature-info-service:
    image: sourcepole/qwc-feature-info-service
    environment:
      - CONFIG_PATH=/etc/qwc_service
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/etc/qwc_service:ro
    depends_on:
      - qwc-postgis
      - qwc-qgis-server
    ports:
      - "127.0.0.1:5015:9090"

  qwc-document-service:
    image: sourcepole/qwc-document-service:v0.9.1
    environment:
      - SERVICE_MOUNTPOINT=/api/v1/document
      - CONFIG_PATH=/etc/qwc_service
    volumes:
      - ./demo-config:/etc/qwc_service:ro
    depends_on:
      - jasper-reporting-service
    ports:
      - "127.0.0.1:5018:9090"

  jasper-reporting-service:
    image: sourcepole/jasper-reporting-service:0.6.0
    volumes:
      - ./volumes/jasper-reports/config:/srv/jasper-reporting-service/config:ro
      - ./volumes/jasper-reports/demo:/srv/jasper-reporting-service/demo:ro
    ports:
      - "127.0.0.1:8002:8080"

  qwc-mapinfo-service:
    image: sourcepole/qwc-mapinfo-service
    environment:
      - INFO_TABLE=agi_hoheitsgrenzen_pub.hoheitsgrenzen_gemeindegrenze
      - INFO_GEOM_COL=geometrie
      - INFO_DISPLAY_COL=gemeindename
      - INFO_TITLE=gemeinde
      - CONFIG_PATH=/etc/qwc_service
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/etc/qwc_service:ro
    depends_on:
      - qwc-postgis
    ports:
      - "127.0.0.1:5016:9090"

  qwc-api-gateway:
    image: nginx
    ports:
      - "8088:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - qwc-ogc-service
      - qwc-data-service
      - qwc-map-viewer
      - qwc-admin-gui
      - qwc-registration-gui
      - qwc-auth-service
