version: '2.1'
services:
  qwc-postgis:
    image: sourcepole/qwc-demo-db
    # build:
    #   context: ./postgis
    #   args:
    #     - ALEMBIC_VERSION=c77774920e5b
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
    ports:
     - "127.0.0.1:5439:5432"

  qwc-qgis-server:
    image: sourcepole/qwc-qgis-server
    ports:
      - "127.0.0.1:8001:80"
    volumes:
      - ./volumes/qgs-resources:/data:ro
      - ./volumes/geodata:/geodata:ro
      - ./pg_service.conf:/etc/postgresql-common/pg_service.conf:ro

  qwc-config-service:
    image: sourcepole/qwc-config-generator
    environment:
        - INPUT_CONFIG_PATH=/srv/qwc_service/config-in
        - OUTPUT_CONFIG_PATH=/srv/qwc_service/config-out
    ports:
      - "127.0.0.1:5010:9090"
    volumes:
      - ./volumes/config-in:/srv/qwc_service/config-in
      - ./demo-config:/srv/qwc_service/config-out
      - ./volumes/qwc2:/qwc2
      - ./volumes/qgs-resources:/data
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
    depends_on:
      - qwc-qgis-server
      - qwc-postgis

  qwc-ogc-service:
    image: sourcepole/qwc-ogc-service
    environment:
      - SERVICE_MOUNTPOINT=/ows
      #- FLASK_ENV=development
    volumes:
      - ./demo-config:/srv/qwc_service/config:ro
    ports:
      - "127.0.0.1:5013:9090"
    depends_on:
      - qwc-qgis-server

  qwc-data-service:
    image: sourcepole/qwc-data-service
    environment:
      - SERVICE_MOUNTPOINT=/api/v1/data
    volumes:
      - ./pg_service-write.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    ports:
      - "127.0.0.1:5012:9090"
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-solr:
    image: solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - gdi
      - /gdi_conf
    ports:
     - "127.0.0.1:8983:8983"
    volumes:
      - ./volumes/solr/configsets/gdi:/gdi_conf:ro
      - ./volumes/solr/data:/var/solr/data
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-fulltext-search-service:
    image: sourcepole/qwc-fulltext-search-service
    environment:
      - SERVICE_MOUNTPOINT=/api/v2/search
    ports:
      - "127.0.0.1:5011:9090"
    volumes:
        - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      - qwc-solr

  qwc-map-viewer:
    image: sourcepole/qwc-map-viewer-demo
    # image: sourcepole/qwc-map-viewer-base
    ports:
      - "127.0.0.1:5030:9090"
    volumes:
        - ./demo-config:/srv/qwc_service/config:ro
    #   - ./volumes/qwc2:/qwc2:ro
    depends_on:
      - qwc-ogc-service
      - qwc-data-service
      - qwc-elevation-service

  qwc-admin-gui:
    image: sourcepole/qwc-admin-gui
    environment:
      - 'USER_INFO_FIELDS=[{"title": "Surname", "name": "surname", "type": "text", "required": true}, {"title": "First name", "name": "first_name", "type": "text", "required": true}, {"title": "Street", "name": "street", "type": "text"}, {"title": "ZIP", "name": "zip", "type": "text"}, {"title": "City", "name": "city", "type": "text"}
]'
      #- TOTP_ENABLED=False
      - GROUP_REGISTRATION_ENABLED=True
      - DEFAULT_LOCALE=en
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    ports:
      - "127.0.0.1:5031:9090"
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-registration-gui:
    image: sourcepole/qwc-registration-gui
    environment:
      - SERVICE_MOUNTPOINT=/registration
      - DEFAULT_LOCALE=en
      - ADMIN_RECIPIENTS=admin@example.com
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    ports:
      - "127.0.0.1:5032:9090"
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-auth-service:
    image: sourcepole/qwc-db-auth
    environment:
      - SERVICE_MOUNTPOINT=/auth
      #- TOTP_ENABLED=False
      #- TOTP_ISSUER_NAME=QWC Services
      - MAIL_SUPPRESS_SEND=True
      - MAIL_DEFAULT_SENDER=from@example.com
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    ports:
      - "127.0.0.1:5017:9090"
    depends_on:
      qwc-postgis:
        condition: service_healthy

  qwc-elevation-service:
    image: sourcepole/qwc-elevation-service
    volumes:
      - ./demo-config:/srv/qwc_service/config:ro
    ports:
      - "127.0.0.1:5002:9090"

  qwc-permalink-service:
    image: sourcepole/qwc-permalink-service:v0.9.0
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      qwc-postgis:
        condition: service_healthy
    ports:
      - "127.0.0.1:5001:9090"

  qwc-feature-info-service:
    image: sourcepole/qwc-feature-info-service
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      - qwc-postgis
      - qwc-qgis-server
    ports:
      - "127.0.0.1:5015:9090"

  qwc-document-service:
    image: sourcepole/qwc-document-service:v0.9.1
    environment:
      - SERVICE_MOUNTPOINT=/api/v1/document
    volumes:
      - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      - jasper-reporting-service
    ports:
      - "127.0.0.1:5018:9090"

  jasper-reporting-service:
    image: sourcepole/jasper-reporting-service:0.6.0
    volumes:
      - ./volumes/jasper-reports/config:/srv/jasper-reporting-service/config:ro
      - ./volumes/jasper-reports/demo:/srv/jasper-reporting-service/demo:ro
    ports:
      - "127.0.0.1:8002:8080"

  qwc-mapinfo-service:
    image: sourcepole/qwc-mapinfo-service
    volumes:
      - ./pg_service.conf:/var/www/.pg_service.conf:ro
      - ./demo-config:/srv/qwc_service/config:ro
    depends_on:
      - qwc-postgis
    ports:
      - "127.0.0.1:5016:9090"

  qwc-legend-service:
    image: sourcepole/qwc-legend-service
    volumes:
      - ./demo-config:/srv/qwc_service/config:ro
      - ./volumes/legends:/legends
    depends_on:
      - qwc-qgis-server
    ports:
      - "127.0.0.1:5014:9090"

  qwc-api-gateway:
    image: nginx
    ports:
      - "8088:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - qwc-map-viewer
      - qwc-permalink-service
      - qwc-fulltext-search-service
      - qwc-admin-gui
      - qwc-registration-gui
      - qwc-auth-service
